* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-image: radial-gradient(circle, rgb(225, 225, 206) 10%, rgb(158, 12, 243));
    background-size: cover;
  }
  
  ::selection {
    color: #fff;
    background: #3C87FF;
  }
  
  .container {
    max-width: 405px;
    padding: 28px 0 30px;
    margin: 137px auto;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  
  }
  
  .container h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(55, 37, 143);
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    color: var(--clr-primary-5);
  }
  
  .task-input {
    height: 52px;
    padding: 0 25px;
    position: relative;
  }
  
  
  .task-input input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 20px 0 10px;
    border: 1px solid rgb(128, 95, 95);
  }
  
  .task-input input:focus,
  .task-input input.active {
    padding-left: 13px;
    border: 2px solid #3cff4f;
  }
  
  .task-input input::placeholder {
    color: #715555;
  }
  
  .controls,
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .controls {
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
  }
  
  .filters span {
    margin: 0 8px;
    font-size: 17px;
    color: #412d2d;
    cursor: pointer;
  }
  
  .filters span:first-child {
    margin-left: 0;
  }
  
  .filters span.active {
    color: #3C87FF;
  }
  
  .controls .clear-btn {
    border: none;
    opacity: 0.6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    pointer-events: none;
    transition: transform 0.25s ease;
    background: linear-gradient(135deg, #1798fb 0%, #1d4dfa 100%);
  }
  
  .clear-btn.active {
    opacity: 0.9;
    pointer-events: auto;
  }
  
  .clear-btn:active {
    transform: scale(0.93);
  }
  
  .task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
  }
  
  .task-box.overflow {
    overflow-y: auto;
    max-height: 300px;
  }
  
  
  .task-box .task {
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
  }
  
  .task-box .task:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }
  
  .task-box .task label {
    display: flex;
    align-items: flex-start;
  }
  
  .task label p {
    user-select: none;
    margin-left: 12px;
    word-wrap: break-word;
    color: rgb(11, 13, 13);
    font-size: large;
  }
  
  .task label p.checked {
    text-decoration: line-through;
    color: red;
  }
  
  .task-box .settings {
    position: relative;
    
  }
  
  .settings :where(i, li) {
    cursor: pointer;
   
  }
  
  .settings .task-menu {
    z-index: 10;
    right: -5px;
    bottom: -65px;
    padding: 5px 0;
    background: #fff;
    position: absolute;
    border-radius: 4px;
    transform: scale(0);
    transform-origin: top right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
  }
  
  @media (max-width: 400px) {
    body {
      padding: 0 10px;
    }
  
    .container {
      padding: 20px 0;
    }
  
    .filters span {
      margin: 0 5px;
    }
  
    .task-input {
      padding: 0 20px;
    }
  
    .controls {
      padding: 18px 20px;
    }
  
    .task-box {
      margin-top: 20px;
      margin-right: 5px;
      padding: 0 15px 10px 20px;
    }
  
    .task label input {
      margin-top: 4px;
    }
  }